ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(236, 229, 202);
}
.bloc,.bloc2{  
    background-color: rgb(236, 229, 202);
    border-radius: 20px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px;
    max-width: 500px;
    margin-bottom: 10px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
.div{
    display: flex;
    flex-direction: column;
}
.flexe{
    display: flex;
    margin: 0 auto;
    gap: 10px;
}
input[type=submit]{
    padding: 5px;
    border-radius: 15px;
    font-weight: 700;
    border: 1px solid black;
    color: #fff;
    background: lightskyblue;
}
input[type=reset]{
    color: #fff;
    font-weight: 700;
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px;
    background: red;
}
table,tr,td{
    border: 1px solid black;
    margin: 0 auto;
}
td,legend{
    text-align: center;
}
td{
    padding: 25px;
}